<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <servlet-class>ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionProductsServlet</servlet-name>
        <servlet-class>PromotionProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSuggestionsServlet</servlet-name>
        <servlet-class>SearchSuggestionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmail</servlet-name>
        <servlet-class>CheckEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckMobile</servlet-name>
        <servlet-class>CheckMobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckName</servlet-name>
        <servlet-class>CheckName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPassword</servlet-name>
        <servlet-class>CheckPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEmail</servlet-name>
        <servlet-class>LoginEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPassword</servlet-name>
        <servlet-class>LoginPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailSSLBypass</servlet-name>
        <servlet-class>MailSSLBypass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserServlet</servlet-name>
        <servlet-class>RemoveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffListServlet</servlet-name>
        <servlet-class>StaffListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegistration</servlet-name>
        <servlet-class>StaffRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserDetails</servlet-name>
        <servlet-class>UpdateUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserDetailsAdmin</servlet-name>
        <servlet-class>UpdateUserDetailsAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>UserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistrationAdmin</servlet-name>
        <servlet-class>UserRegistrationAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateName</servlet-name>
        <servlet-class>ValidateName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCartServlet</servlet-name>
        <servlet-class>LoadCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentShippingServlet</servlet-name>
        <servlet-class>PaymentShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateShippingServlet</servlet-name>
        <servlet-class>ValidateShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatePaymentServlet</servlet-name>
        <servlet-class>ValidatePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutReviewServlet</servlet-name>
        <servlet-class>CheckoutReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTrackingServlet</servlet-name>
        <servlet-class>.AddTrackingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <servlet-class>.OrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCartServlet</servlet-name>
        <servlet-class>ClearCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>ConfirmOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportGenServlet</servlet-name>
        <servlet-class>ReportGenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserOrderServlet</servlet-name>
        <servlet-class>ViewUserOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/ProductDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionProductsServlet</servlet-name>
        <url-pattern>/PromotionProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSuggestionsServlet</servlet-name>
        <url-pattern>/SearchSuggestionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmail</servlet-name>
        <url-pattern>/CheckEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckMobile</servlet-name>
        <url-pattern>/CheckMobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckName</servlet-name>
        <url-pattern>/CheckName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPassword</servlet-name>
        <url-pattern>/CheckPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEmail</servlet-name>
        <url-pattern>/LoginEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPassword</servlet-name>
        <url-pattern>/LoginPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailSSLBypass</servlet-name>
        <url-pattern>/MailSSLBypass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserServlet</servlet-name>
        <url-pattern>/RemoveUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffListServlet</servlet-name>
        <url-pattern>/StaffListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegistration</servlet-name>
        <url-pattern>/StaffRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserDetails</servlet-name>
        <url-pattern>/UpdateUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserDetailsAdmin</servlet-name>
        <url-pattern>/UpdateUserDetailsAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/UserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistrationAdmin</servlet-name>
        <url-pattern>/UserRegistrationAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateName</servlet-name>
        <url-pattern>/ValidateName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCartServlet</servlet-name>
        <url-pattern>/LoadCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentShippingServlet</servlet-name>
        <url-pattern>/PaymentShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateShippingServlet</servlet-name>
        <url-pattern>/ValidateShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatePaymentServlet</servlet-name>
        <url-pattern>/ValidatePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutReviewServlet</servlet-name>
        <url-pattern>/CheckoutReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTrackingServlet</servlet-name>
        <url-pattern>/AddTrackingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <url-pattern>/OrderDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCartServlet</servlet-name>
        <url-pattern>/ClearCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/ConfirmOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportGenServlet</servlet-name>
        <url-pattern>/ReportGenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserOrderServlet</servlet-name>
        <url-pattern>/ViewUserOrderServlet</url-pattern>
    </servlet-mapping>
</web-app>
